node_modules/
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
Thumbs.db
*.log
npm-debug.*
.env
.env.local
android/
ios/

# Google Play Service Account Key (NE JAMAIS committer)
google-service-account.json
*.serviceaccount.json

# Keystore de signature Android (NE JAMAIS committer)
*.keystore
release.keystore

# Builds
*.aab
*.apk
